@import "tailwindcss";
@import url(./style/fonts.scss);

:root {
  --normal-text: #1F2937;
}

body {
  font-family: 'Lufga', sans-serif;
}

// Background animation
.animation-canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;

  canvas {
    width: 100%;
    height: 100%;
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(148, 155, 160, 0.3);
    backdrop-filter: blur(25px);
    z-index: 9;
  }
}

.swiper-pagination {
  position: initial !important;
  height: 50px;
  padding-top: 20px;
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background: var(--normal-text) !important;
  opacity: .5;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: "";
  background: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: -3px;
  border: 1px solid var(--normal-text);
  border-radius: 50%;
}